{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="description" content="Sudani Coder Freelancer Full Stack Web Developer">
		<meta name="keywords" content="Sudani Coder Freelancer Full Stack Web Developer, sudani coder, coder, freelancer, full stack web developer, web designer, web developer, python developer, frontend, backend, vscode, HTML, CSS, XML, JavaScript, python, django, sql, database, web design, web development, seo, secure, responsive design, full support, clean code, coding">
		<meta name="author" content="Sudani Coder">
		<title>Sudani Coder</title>
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
		<link rel="stylesheet" type="text/css" href="{% static './css/normalize.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static './css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static './css/freelancer.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static './css/style.css' %}">
	</head>
	<body id="page-top">
		<nav id="Nav_Bar" class="navbar navbar-expand-lg text-uppercase fixed-top">
			<div class="container">
				<a id="navlogo" class="navbar-brand js-scroll-trigger" href="#page-top">
					<span class="primary-color">&lt;&num;</span>Sudani<span class="primary-color">&lowbar;</span>Coder<span class="primary-color">&excl;&sol;&gt;</span>
				</a>
				<button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					Menu
					<i class="fa fa-bars"></i>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item mx-0 mx-lg-1">
							<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#myskills">My skills</a>
						</li>
						<li class="nav-item mx-0 mx-lg-1">
							<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#services">Services</a>
						</li>
						<li class="nav-item mx-0 mx-lg-1">
							<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#features">Features</a>
						</li>
						<li class="nav-item mx-0 mx-lg-1">
							<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About me</a>
						</li>
						<li class="nav-item mx-0 mx-lg-1">
							<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact me</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<header id="Header_Bar" class="masthead bg-primary text-white text-center">
			<div class="container d-flex align-items-center flex-column">
				<img class="masthead-avatar mb-5" src="{% static './img/avataaars.svg' %}" alt="avatar image" title="avatar image">
				<h1 id="headerlogo" class="masthead-heading text-uppercase mb-0">
					<span class="header-color">&lt;&num;</span>Sudani<span class="header-color">&lowbar;</span>Coder<span class="header-color">&excl;&sol;&gt;</span>
				</h1>
				<div class="divider-custom divider-light">
					<div class="divider-custom-line"></div>
					<div class="divider-custom-icon">
						<i class="fa fa-star"></i>
					</div>
					<div class="divider-custom-line"></div>
				</div>
				<p class="masthead-subheading font-weight-light mb-0">Web Designer - Web Developer - Coder</p>
			</div>
		</header>
		<section class="page-section" id="myskills">
			<div class="container">

				<!-- myskills Section Heading -->
				<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">My skills</h2>

				<!-- Icon Divider -->
				<div class="divider-custom">
					<div class="divider-custom-line"></div>
					<div class="divider-custom-icon">
						<i class="fa fa-star"></i>
					</div>
					<div class="divider-custom-line"></div>
				</div>
				
				<br>

				<!-- skills Grid Items -->
				<div class="row text-center">
					<div class="col-md m-1 p-1">
						<img class="theskills img-fluid" src="{% static './img/html.svg' %}" alt="html" title="html">
						<p class="lead">HTML</p>
					</div>
					<div class="col-md m-1 p-1">
						<img class="theskills img-fluid" src="{% static './img/css.svg' %}" alt="css" title="css">
						<p class="lead">CSS</p>
					</div>
					<div class="col-md m-1 p-1">
						<img class="theskills img-fluid" src="{% static './img/javascript.svg' %}" alt="javascript" title="javascript">
						<p class="lead">JAVASCRIPT</p>
					</div>
					<div class="col-md m-1 p-1">
						<img class="theskills img-fluid" src="{% static './img/python-file.svg' %}" alt="python" title="python">
						<p class="lead">PYTHON</p>
					</div>
					<div class="col-md m-1 p-1">
						<img class="theskills img-fluid" src="{% static './img/sql.svg' %}" alt="sql" title="sql">
						<p class="lead">SQL</p>
					</div>
				</div>
			</div>
		</section>
		<section class="page-section bg-primary text-white" id="services">
			<div class="container">

				<!-- Services Section Heading -->
				<h2 class="page-section-heading text-center text-uppercase text-white">Services</h2>

				<!-- Icon Divider -->
				<div class="divider-custom divider-light">
					<div class="divider-custom-line"></div>
					<div class="divider-custom-icon">
						<i class="fa fa-star"></i>
					</div>
					<div class="divider-custom-line"></div>
				</div>

				<!-- Services Section Content -->
				<div class="row">
					<div class="col-md m-3 p-4 text-dark bg-light shadow rounded">
                        <img class="rounded mx-auto d-block" src="{% static './img/design.svg' %}" width="150px" height="150px" alt="Web Design" title="Web Design">
                        <h3 class="text-center">Web Design</h3>
                        <p class="text-justify text-muted">
							<ul>
								<li class="mb-3">
									Web Design is the practice of converting data to a graphical interface.
								</li>
								<li class="mb-3">
									Make your website fully responsive and mobile friendly design.
								</li>
								<li class="mb-3">
									Provide users with easy to use interface and Clear, User-friendly Navigation.
								</li>
								<li class="mb-3">
									Gives you simple design and elegant website interface.
								</li>
								<li class="mb-3">
									Make your website almost compatible with all devices and browsers.
								</li>
							</ul>
						</p>
						<div class="btn-div text-center">
							<a href="#contact" class="btn btn-outline-primary btn-md btn-order">order now</a>
						</div>
					</div>
                    <div class="col-md m-3 p-4 text-dark bg-light shadow rounded">
                        <img class="rounded mx-auto d-block" src="{% static './img/data.svg' %}" width="150px" height="150px" alt="Web Development" title="Web Development">
                        <h3 class="text-center">Web Development</h3>
                        <p class="text-justify text-muted">
							<ul>
								<li class="mb-3">
									Web Development gives your website the ability to process and store users data.
								</li>
								<li class="mb-3">
									Use the best technology to bring your idea into reality.
								</li>
								<li class="mb-3">
									Custom web development offers options for businesses who seek to provide a flexible, consistent experience for users across platforms.
								</li>
								<li class="mb-3">
									Bring front-end, back-end and architecture ability together to accommodate your business need and maximize delivery speed.
								</li>
								<li class="mb-3">
									Web development can range from developing a simple single static page of plain text to complex dynamic web apps and databases apps.
								</li>
							</ul>
						</p>
						<div class="btn-div text-center">
							<a href="#contact" class="btn btn-outline-primary btn-md btn-order">order now</a>
						</div>
                    </div>
				</div>
			</div>
		</section>
		<section class="page-section" id="features">
			<div class="container">
				<!-- Contact Section Heading -->
				<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Features</h2>

				<!-- Icon Divider -->
				<div class="divider-custom">
					<div class="divider-custom-line"></div>
					<div class="divider-custom-icon">
						<i class="fa fa-star"></i>
					</div>
					<div class="divider-custom-line"></div>
				</div>
				<div class="row text-center">
					<div class="col-md m-3 p-3 text-dark bg-light shadow rounded">
                        <img class="rounded mx-auto d-block" src="{% static './img/tablet.svg' %}" width="150px" height="150px" alt="Responsive Design" title="Responsive Design">
                        <h3 class="text-center">Responsive Design</h3>
                        <p class="text-justify text-muted">
                           We make your web site can be easily viewed on any mobile device. Smoothly responsive.
                           <br>
                           Responsive web design is an approach to web design that makes web pages render well on a variety of devices and window or screen sizes.
                        </p>
                        <a href="#contact" class="btn btn-outline-primary btn-md btn-order">order now</a>
					</div>
					<div class="col-md m-3 p-3 text-dark bg-light shadow rounded">
                        <img class="rounded mx-auto d-block" src="{% static './img/support.svg' %}" width="150px" height="150px" alt="Full Support" title="Full Support">
                        <h3 class="text-center">Full Support</h3>
                        <p class="text-justify text-muted">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt odio, eius dolorem consequatur rem aliquid repellendus dolorum doloremque consequuntur quisquam quas modi architecto nam neque cupiditate est officiis quasi quia!
                        </p>
                        <a href="#contact" class="btn btn-outline-primary btn-md btn-order">order now</a>
					</div>
					<div class="col-md m-3 p-3 text-dark bg-light shadow rounded">
						<img class="rounded mx-auto d-block" src="{% static './img/clean-code.svg' %}" width="150px" height="150px" alt="Clean Code" title="Clean Code">
						<h3 class="text-center">Clean Code</h3>
						<p class="text-justify text-muted">
							Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam ducimus cupiditate qui laboriosam, laborum et quia, ullam officia quibusdam in deleniti dolore consequatur ratione placeat eius, ad doloremque quasi veritatis?
							Deserunt doloribus pariatur.
						</p>
						<a href="#contact" class="btn btn-outline-primary btn-md btn-order">order now</a>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-md m-3 p-3 text-dark bg-light shadow rounded">
						<img class="rounded mx-auto d-block" src="{% static './img/cyber-security.svg' %}" width="150px" height="150px" alt="secure" title="secure">
						<h3 class="text-center">Secure</h3>
						<p class="text-justify text-muted">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla dolores atque eligendi nisi velit excepturi voluptates facilis blanditiis. Necessitatibus dolorum molestias repudiandae sit laudantium iste quaerat id ipsum, illo nemo!
						</p>
						<a href="#contact" class="btn btn-outline-primary btn-md btn-order">order now</a>
					</div>
					<div class="col-md m-3 p-3 text-dark bg-light shadow rounded">
						<img class="rounded mx-auto d-block" src="{% static './img/www.svg' %}" width="150px" height="150px" alt="seo" title="seo">
						<h3 class="text-center">SEO</h3>
						<p class="text-justify text-muted">
							search engine optimization.<br>
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias voluptate dolorem eum vitae esse quasi rem cumque quo autem officia ipsam, est cupiditate ea. Provident modi nulla laudantium quis omnis!
						</p>
						<a href="#contact" class="btn btn-outline-primary btn-md btn-order">order now</a>
					</div>
				</div>
			</div>
		</section>
		<section class="page-section bg-primary text-white mb-0" id="about">
			<div class="container">

				<!-- About Section Heading -->
				<h2 class="page-section-heading text-center text-uppercase text-white">About Me</h2>

				<!-- Icon Divider -->
				<div class="divider-custom divider-light">
					<div class="divider-custom-line"></div>
					<div class="divider-custom-icon">
						<i class="fa fa-star"></i>
					</div>
					<div class="divider-custom-line"></div>
				</div>

				<div class="row">
					<div class="col-md m-3 p-4 text-dark bg-light shadow rounded">
						<h3 class="text-center"><span class="primary-color">Who</span> i am</h3>
						<p class="text-justify">
							Hello World, I am Omer A. Abdulraheem Taha aka sudani coder freelancer full stack web developer and python programmer i love coding and linux.
							<br>
							information technology specialist, also interested in cyber secuirty as a hobby specifically wifi penetration testing. 
						</p>
					</div>
					<div class="col-md m-3 p-4 text-dark bg-light shadow rounded">
						<h3 class="text-center"><span class="primary-color">What</span> i do</h3>
						<p class="text-justify">
							I work as a freelancer full stack web developer.
							<br>
							I design and develop static and dynamic websites also web apps and database systems.
							<br>
							I bring your ideas to reality and provide you with real world solutions.
						</p>
					</div>
				</div>

			</div>
		</section>

		<!-- Contact Section -->
		<section class="page-section" id="contact">
			<div class="container">

				<!-- Contact Section Heading -->
				<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Me</h2>

				<!-- Icon Divider -->
				<div class="divider-custom">
					<div class="divider-custom-line"></div>
					<div class="divider-custom-icon">
						<i class="fa fa-star"></i>
					</div>
					<div class="divider-custom-line"></div>
				</div>

				<!-- Contact Section Form -->
				<div class="row">
					<div class="col-md m-3 p-4 text-dark bg-light shadow rounded">
						<form name="contactMe" id="contactForm" action="/" method="POST">
							{% csrf_token %}
							<div class="form-row">
								<div class="form-group col-md">
									<label for="FirstName">First name:</label>
									{{ form.First_Name }}
								</div>
								<div class="form-group col-md">
									<label for="LastName">Last name:</label>
									{{ form.Last_Name }}
								</div>
							</div>
							<div class="form-group">
								<label for="Email">Email:</label>
								{{ form.Email }}
							</div>
							<div class="form-group">
								<label for="Phone">Phone number:</label>
								{{ form.Phone }}
							</div>
							<div class="form-group">
								{{ form.Subject }}
							</div>
							<div class="form-group">
								{{ form.Message }}
							</div>
							<input class="btn btn-primary px-4 py-2" type="submit" value="Send">
						</form>
					</div>
				</div>
			</div>
		</section>
		<footer class="footer text-center">
			<div style="padding-top: 5rem; padding-bottom: 5rem;" class="container">
				<div class="row">
					<div class="col-lg-4 mb-5 mb-lg-0">
						<h4 class="text-uppercase mb-4">contact info</h4>
						<address>
							<p class="lead mb-0">
								e-mail: <a href="mailto:sudani.coder@gmail.com">sudani.coder@gmail.com</a>
								<br>
								phone number: <a href="tel:+249126745655">+249126745655</a>
								<br>
							</p>
						</address>
					</div>

					<!-- Footer Social Icons -->
					<div class="col-lg-4 mb-5 mb-lg-0">
						<h4 class="text-uppercase mb-4">Around the Web</h4>
						<a class="btn btn-outline-light btn-social mx-1" href="#">
							<i class="fa fa-fw fa-facebook-f"></i>
						</a>
						<a class="btn btn-outline-light btn-social mx-1" href="#">
							<i class="fa fa-fw fa-twitter"></i>
						</a>
						<a class="btn btn-outline-light btn-social mx-1" href="#">
							<i class="fa fa-fw fa-linkedin"></i>
						</a>
						<a class="btn btn-outline-light btn-social mx-1" href="https://github.com/Sudani-Coder">
							<i class="fa fa-fw fa-github"></i>
						</a>
					</div>
					<div class="col-lg-4">
						<h4 class="text-uppercase mb-4">Location</h4>
						<p class="lead mb-0">
							Khartoum, Sudan
							<br>
							Al Khartoum, Sahafa Ave
						</p>
					</div>
				</div>
			</div>
			<section class="copyright py-4 text-center text-white">
				<div class="container">
					<div>&lt; All Copyrights Reserved &copy; - 2020 &sol;&gt;</div>
				</div>
			</section>
		</footer>

		<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
		<div class="scroll-to-top d-lg-none position-fixed ">
			<a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
				<i class="fa fa-chevron-up"></i>
			</a>
		</div>

		<!-- Bootstrap core JavaScript -->
		<script src="{% static './js/jquery.min.js' %}"></script>
		<script src="{% static './js/popper.min.js' %}"></script>
		<script src="{% static './js/bootstrap.min.js' %}"></script>

		<!-- Plugin JavaScript -->
		<script src="{% static './js/jquery.easing.min.js' %}"></script>

		<!-- Custom scripts for this template -->
		<script src="{% static './js/freelancer.js' %}"></script>
		<script src="{% static './js/script.js' %}"></script>
	</body>
</html>
